body{
    background: url(https://www.freeiconspng.com/thumbs/money-png/money-png-7.png) black center;
    background-repeat: repeat;
    background-size: 350px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes{
    justify-content: center;
    background-color: #E5FFCC;
    border-radius: 5px;
    border: solid;
    border-color:green;
    padding: 10px;
}

h1{
    text-align:center;
}

img{
    width: 400px;
}

#div1 {
    display: flex;
    max-width: 1000px;
    align-items: center;
}

#div2 {
    max-width: 1000px;
}